body{ color: rgb(1, 11, 14); font-size: 1.5rem;}
.containerss{border{color: aquamarine; padding: 35px;}
    background-color: rgb(15, 240, 154);
    align-items: start;
    width: 100px;
    margin: 100px;
    padding: 40px;
    color: blue;
    container: initial;
    border-color: black;}
    body{scroll-behavior: smooth;}
    .container{position: sticky; }
    .morgan{color: beige;}
    h1{color: red;
    opacity: 0.90;}
    body{background-image:url("portfolio.png"); 


    background-repeat: no-repeat;
background-position: top right;
background-attachment: sticky;
background-size:cover;
.nav bar{color: greenyellow;}
}
h1{text-align:start;}
h2{text-align: start;}
footer{color: beige;}
h2{color: red;}
h2{direction: ltr;}
.logo{text-decoration: underline;}
h1{text-decoration: underline;}
h1{text-decoration-color:blue ;}
h2{text-decoration: underline;}
h2{text-decoration-color: blue;}
h1{text-decoration-style: double;}
h1{text-decoration-thickness: 10px;}
h2.{text-shadow: 3px 4px 4px;}
h2{font-variant: small-caps;}
.fa-regular{color: red;}
.fa-regular fa-house fa-2xs{size: 200px;}