body{background-color: beige;}
body{background-image:url(download\ \(3\)23.jfif);
background-repeat: no-repeat;
background-position: top right;
background-size: contain;}
body{background-image:url(download\ \(3\)grade.jfif);
background-repeat: no-repeat; 
background-position: bottom right;}